<h1> All Messages </h1>
<hr>
<% @messages.each do |message| %>
  <div class="message">
    <a href="/messages/<%= message.id %>"></a><strong>Posted By:</strong> <%= message.author %>
    <p>
      <strong>Message:</strong> <%= message.content %>
    </p>
    <p>
      <%= message.url %>
    </p>
    <p>
      <strong>Created At:</strong> <%= message.created_at %>
    </p>
    <hr>
  </div>
<% end %>

<hr/>
<a href="/messages/new">Post a message... Fo Free!</a>
<hr>